# 依赖
node_modules/

# 构建产物
dist/
dev-dist/
*.local
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# 日志
logs/
*.log
npm-debug.log*

# 编辑器 / 系统
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# 环境变量
.env
.env.*
